services:
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./nginx_data:/data
      - ./nginx_letsencrypt:/etc/letsencrypt
    restart: unless-stopped
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_data:/root/.ollama
    restart: unless-stopped

  web:
    image: python:3.11-slim
    container_name: ai-detector-web
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8501:8501"
    environment:
      - OLLAMA_HOST=ollama:11434
    command: >
      sh -c "pip install streamlit ollama && streamlit run app.py"
    depends_on:
      - ollama
    restart: unless-stopped
